
#container
{
background-color:green;

height:100px;
width:100%;
}
#header
{
background-color:red;
height:100px;
width:100%;
}
#content1 p
{
background-color:orange;
width:50%;
height:50px;
float:left;
}
#content2 img
{
background-color:black;
width:30%;
height:110px;
float:right;
margin-right:50px;
color:green;

}
